.jumbotron {
  padding: .05%;
  border-radius: 0 !important;
  background-color: 30% grey;
}

.blue {
  color: #3B4E8F;
}

.size h1 {
  font-size: 30px;
}

.size p {
  font-size: 15px;
}
.col-md-6 {
  padding: 1%;
}

.bg-success h2 {
  color: 20% blue;
}

.sharp-corner {
  border-radius: 0 !important;
}
